<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
    <title>injection history</title>
    <style>
      .gradient {
        background: linear-gradient(90deg, #457de6 0%, #2a4ada 100%);
      }
    </style>
</head>
<body class="gradient sm:container mx-auto flex flex-col min-h-screen">
    <%- include('./partials/navbar') %>

    <div class="container max-w-screen-md px-4 py-8">
      <h1 class="text-3xl font-bold text-white mb-4">Injection History</h1>
      <p class="text-white py-4">
          This is a brief description of the injection history page. It displays a list of patient that have had an injection
          along with their details such as date, name, weight, age, sex, and local anaesthetic used. 
          You can also perform actions like deleting entries.
      </p>
      <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec odio ac lorem vehicula consequat. 
          Nulla facilisi. Nam ac lorem vel nibh ultrices consectetur. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia curae; Nulla facilisi. Donec ac leo aliquet, vestibulum nisi sed,
          bibendum ipsum. Sed faucibus quam non est efficitur, non vestibulum nunc bibendum. Proin eget consequat 
          quam. Phasellus consectetur lectus ac justo dapibus, id rhoncus ipsum commodo. Nam vestibulum ligula vitae
          elit laoreet, sed ullamcorper mauris ultricies. Donec non diam id ligula placerat lacinia.
      </p>
    </div>

    <!-- 
    <ul id="itemList">
        <% items.forEach((item) => { %>
          <li>
            <span>Name: <%= item.name %></span>
            <span>Surname: <%= item.surname %></span>
            <span>Weight: <%= item.weight %></span>
            <span>Age: <%= item.over_18 ? 'over 18' : 'under 18' %></span>
            <span>Sex: <%= item.male ? 'male' : 'female'%></span>
            <span>Local Anaesthetic: <%= item.medication %></span>               
          </li>
          <button onclick="deleteItem('<%= item.id %>')">Delete</button>
        <% }); %>
    </ul>
    -->

    <div class="flex flex-col my-16">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="max-w-sm mx-auto divide-y divide-gray-200 dark:divide-gray-700">
              <thead>
                <tr >
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Date</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Name</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Weight</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Age</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Sex</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Local Anaesthetic</th>
                  <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-white uppercase">Action</th>
                </tr>
              </thead>
              <tbody>
                <% items.forEach((item) => { %>
                  <tr class="odd:bg-white even:bg-gray-100 dark:odd:bg-slate-900 dark:even:bg-slate-800">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"><%= item.created_at.slice(0,10) %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"><%= `${item.name} ${item.surname}` %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.weight %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.over_18 ? 'Over 18' : 'Under 18' %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.male ? 'male' : 'female'%></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.medication %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                      <button onclick="deleteItem('<%= item.id %>')" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Delete</button>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <footer class="mt-auto">
      <%- include('./partials/footer') %>  
    </footer>
    
    <script src="/node_modules/preline/dist/preline.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>