<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- for tailwind -->
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <!-- <h1>this is the injection history page</h1>

    <ul id="itemList">
        <% items.forEach((item) => { %>
          <li>
            <span>Name: <%= item.name %></span>
            <span>Surname: <%= item.surname %></span>
            <span>Weight: <%= item.weight %></span>
            <span>Age: <%= item.over_18 ? 'over 18' : 'under 18' %></span>
            <span>Sex: <%= item.male ? 'male' : 'female'%></span>
            <span>Local Anaesthetic: <%= item.medication %></span>               
          </li>
          <button onclick="deleteItem('<%= item.id %>')">Delete</button>
        <% }); %>
    </ul> -->

    <div class="flex flex-col mt-16">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="max-w-sm mx-auto divide-y divide-gray-200 dark:divide-gray-700">
              <thead>
                <tr >
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Date</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Name</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Weight</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Age</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Sex</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Local Anaesthetic</th>
                  <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Action</th>
                </tr>
              </thead>
              <tbody>
                <% items.forEach((item) => { %>
                  <tr class="odd:bg-white even:bg-gray-100 dark:odd:bg-slate-900 dark:even:bg-slate-800">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"><%= item.created_at.slice(0,10) %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"><%= `${item.name} ${item.surname}` %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.weight %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.over_18 ? 'over 18' : 'under 18' %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.male ? 'male' : 'female'%></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"><%= item.medication %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                      <button onclick="deleteItem('<%= item.id %>')" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Delete</button>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    


    <script src="/node_modules/preline/dist/preline.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>